body {
    font-family: Arial, sans-serif;
    
}
.border1 {
    margin: 10px 0;
    padding: 10px;
    border: 4px solid #ccc;
    border-radius: 10px;
    
}

.box {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2px 2em;
    
}

    .box :first-child {
        align-self: auto;
        
    }

.oval {
    height: 80px;
    width: 250px;
    background-color: deepskyblue;
    border-radius: 50%;
}

.fonts1 {
    margin-top: 25px;
    margin-left: 8px;
    font-family: 'Segoe UI';
    font-weight: bold;
    color: white;
}

.fonts2 {
    
    margin-left: 42px;
    font-family: 'Segoe UI';
    
    color: black;
}

.fonts3 {
    font-family: 'Segoe UI';
    color: white;
}



/* Näyteikkuna */
#showcase {
    margin: 20px 0;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #E9F9FA;
    text-align: center;
}

#product-display h3 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
}

#product-display p {
    margin: 5px 0;
    font-size: 18px;
    color: #666;
}


.picture-display{
    width: 550px; 
    height: 325px; 
    background-size: cover;
    background-position: center top;
}

.marketingText {
    font-family:'Segoe UI';
    background-color:white;
    color: red;
}

.buttonCustom1 {
    font-family: 'Segoe UI';
    padding-left: 10%;
    width: 90%;
    background: rgb(24,224,213);
    background-color: deepskyblue;
}

.buttonCustom1:hover {
    background-color: mediumvioletred;
}


.anchor {
    background: rgb(10,53,78);
    background: linear-gradient(90deg, rgba(10,53,78,0.9573880577621674) 0%, rgba(59,71,212,0.5400211109834558) 51%, rgba(39,49,201,0.38035724543723737) 100%);
}

