body {
    font-family: Arial, sans-serif;
}
.border1 {
    margin: 10px 0;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.box {
    display: grid;
    
    grid-template-columns: 1fr 3fr;
    gap: 2px 2em;
}

    .box :first-child {
        align-self: auto;
    }

.oval {
    height: 80px;
    width: 250px;
    background-color: deepskyblue;
    border-radius: 50%;
}

.fonts1 {
    margin-top: 25px;
    margin-left: 8px;
    font-family: 'Segoe UI';
    font-weight: bold;
    color: white;
}

/* Näyteikkuna */
#showcase {
    margin: 20px 0;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    text-align: center;
}

#product-display h3 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
}

#product-display p {
    margin: 5px 0;
    font-size: 18px;
    color: #666;
}


.picture-display{
    width: 550px; 
    height: 325px; 
    background-size: cover;
    background-position: center top;
}

.marketingText {
    font-family:'Segoe UI';
    background-color:white;
    color: red;
}

.buttonCustom1 {
    font-family:'Segoe UI';
    padding-left: 10%;
    width: 90%;
    background: rgb(212,246,255);
    background: linear-gradient(90deg, rgba(212,246,255,1) 0%, rgba(86,179,226,0.5736345563616072) 52%, rgba(136,142,232,0.33553931826636907) 100%);
}