@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <div class="area">
            <a class="btn btn-outline-dark" href="~/Admins/Index">Admins</a>
            <a class="btn btn-outline-dark" href="~/Categories/Index">Categories</a>
            <a class="btn btn-outline-dark" href="~/OrderDetails/Index">Order Details</a>
            <a class="btn btn-outline-dark" href="~/Orders/Index">Orders</a>
            <a class="btn btn-outline-dark" href="~/Products/Index">Products</a>
            <a class="btn btn-outline-dark" href="~/Trackings/Index">Tracking</a>
            <a class="btn btn-outline-dark" href="~/Users/Index">Users</a>
            <a class="btn btn-outline-dark" href="~/Wishlists/Index">Wishlist</a>

        </div>

    </section>
</main>